/* Button.css */
.button {
    display: inline-flex;
    padding: 10px 20px;
    background-color: #00a859;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
  }
 