
.info-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    width: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: "flex";
    align-items: "center";
    justify-content: "flex-start";
  }
  
  .info-box h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
  }
  
  .info-box p {
    font-size: 14px;
  }
  
  @media (max-width: 768px) {
    .info-box {
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .info-box h3 {
      font-size: 1.2rem;
    }
  
    .info-box p {
      font-size: 0.9rem;
    }
  }
